#main-table> table-body > table-row > table-cell:first-child{
    color: red;
}

#main-table> table-body > table-row > table-cell:nth-child(2){
    color: blue;
}

#main-table> table-body > table-row > table-cell:nth-child(3){
    color: cyan;
}

#main-table> table-body > table-row > table-cell:last-child{
    color: green;
}

